rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección de diagnósticos
    // Cualquiera puede crear y leer un diagnóstico (captura de lead).
    // Solo los administradores autenticados pueden actualizar o borrar.
    match /diagnostics/{docId} {
      allow create, read: if true;
      allow update, delete: if request.auth.token.admin == true;
    }

    // Reglas para la colección de leads
    // Cualquiera puede crear un lead
    // Solo los administradores pueden leer o interactuar con los datos.
    match /leads/{docId} {
        allow create: if true;
        allow read, update, delete: if true; // Temporalmente permitir todas las operaciones para testing
    }

    // Regla general para el resto de las colecciones
    // Cualquiera puede leer (get, list).
    // Solo los administradores autenticados pueden escribir (create, update, delete).
    match /{document=**} {
      allow get, list: if true;
      allow write: if request.auth.token.admin == true;
    }
  }
}
