rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() { return request.auth != null; }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuth(); // TEMPORAL: sólo requiere sesión; luego volvemos a whitelist de admin
    }
  }
}

