@media print {
  /* Ocultar elementos no deseados en la impresión */
  .no-print {
    display: none !important;
  }

  /* Mostrar elementos solo para impresión */
  .print-only {
    display: block !important;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Ajustes generales de layout para impresión */
  @page {
    size: A4 portrait;
    margin: 1.5cm;
  }
  
  h1, h2, h3 {
      color: #000 !important;
  }
  
  .dark\:text-white, .dark\:text-gray-100 {
      color: #111827 !important;
  }
  
  .dark\:bg-gray-800, .dark\:bg-gray-900 {
      background-color: #fff !important;
  }

  /* Evitar saltos de página dentro de elementos */
  .grid, .bg-white, table, .shadow {
    page-break-inside: avoid;
    box-shadow: none !important;
    border: 1px solid #eee;
  }
  
  /* Forzar saltos de página si es necesario */
  .page-break {
    page-break-before: always;
  }
}